.invert-colors{
  min-height: 100vh;
    box-sizing: border-box;
  color:rgb(187, 179, 179);
  background-color: black;
}

.invert-this{
  min-height: 100vh;
    box-sizing: border-box;
  color:rgb(187, 179, 179);
  background-color: black;
  
}


.text{
  width:80%;
 
 
}

.img-new{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.img-styles{
  min-height: 300px;
}

.column{
  width: 30%;
  
}

.column1{
  width: 5%;
  
}



.data{
  justify-content: center;
  
}



.check{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
}

.element{
  display: inline-block;
  
}

.final{
  margin-right: none;
}

.newE{
  display: flex;
  justify-content: center;
}

.viewCard{
  text-align: center;
}

.left{
  text-align: left;
  margin-left: 10%;
}

.nav-item{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.set-body{
  
  margin-top:20%;
}